# Xcode
.DS_Store
*.xcodeproj
*.xcworkspace
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.podspec

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code coverage
*.gcda
*.gcno

# Other
*.swp
*~
.Trashes
